body{
  background-color: rgba(0, 85, 255, 0.694);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header{
  background-color: rgba(255, 255, 255, 0.288);
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 3px black;
  width: 100%;
}

.header li a{
  color: brown;
  float: center;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 14px 15px;
  transition: .3s ease;
}

.header li{
  display: inline;
  padding-left: 40px ;
}
.header li a:hover{
  color: white;
  
}

